@import "tailwindcss";

/*  Montserrat */
* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.courier-prime {
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-style: normal;
}

/* Decorations */
.decoration {
    position: fixed;
    inset: 0;
    pointer-events: none;
    opacity: 0.7;
    z-index: 99;
}

.decoration img {
    position: absolute;
    width: 80px;
    height: auto;
    transition: transform 0.2s linear;
    user-select: none;
    -webkit-user-drag: none;
}

.decor-1 {
    top: 15%;
    left: 5%;
}

.decor-2 {
    top: 45%;
    right: 5%;
}

.decor-3 {
    top: 55%;
    left: 3%;
}

.decor-4 {
    top: 83%;
    right: 4%;
}

.decor-5 {
    top: 85%;
    left: 6%;
}

.decor-6 {
    top: 10%;
    right: 3%;
}

.decor-7 {
    top: 112%;
    right: 3%;
}

.decor-8 {
    top: 116%;
    left: 2%;
}


/* Light ON/OFF */

/* animation fire */
@keyframes flame-flicker {

    0%,
    100% {
        opacity: 0.8;
        transform: scale(1);
    }

    25% {
        opacity: 1;
        transform: scale(1.05);
    }

    50% {
        opacity: 0.7;
        transform: scale(0.95);
    }

    75% {
        opacity: 0.9;
        transform: scale(1.02);
    }
}

.flame-effect {
    animation: flame-flicker 5s infinite alternate;
    background: radial-gradient(ellipse at center,
            rgba(214, 113, 46, 0.8) 0%,
            rgba(210, 186, 99, 0.6) 30%,
            transparent 70%) !important;
}